---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Dimensions
$max-content-width: {{ site.max_width }};

@import
  "variables",
  "themes",
  "layout",
  "base",
  "distill",
  "cv",
  "tabs",
  "typograms",
  "font-awesome/fontawesome",
  "font-awesome/brands",
  "font-awesome/solid",
  "font-awesome/regular",
  "tabler-icons/tabler-icons.scss",
  "tabler-icons/tabler-icons-filled.scss",
  "tabler-icons/tabler-icons-outline.scss"
;

a {
  color: #49AB98;

  &:hover,
  &:focus {
    color: darken(#49AB98, 1%);
    text-decoration: underline;
  }
}

a.button-link {
  display: inline-block;
  padding: 0.4em 0.8em;
  background-color: #49AB98;
  color: white;
  border-radius: 6px;
  font-size: 0.9rem;
  text-decoration: none;
  transition: background-color 0.3s ease;

  &:hover,
  &:focus {
    background-color: darken(#49AB98, 1%);
    text-decoration: none;
  }
}